#map {
  height: 100vh;
  width: 100%;
  margin: 0;
  padding: 0;
  position: absolute;
  z-index: -999px;
}

.bot-left {
    position: absolute;
    bottom: 0;
    left: 1%;
    z-index: -998px;
}
b{
  display: none;
  font-family: Consolas;
}
span.glyphicon {
  position:  absolute;
  padding: 0.5em;
  background-color: #ffd500;
  border-radius: 1em;
  cursor: zoom-in;
}
span.glyphicon:hover b{
  display: inline-block;
}
span.glyphicon:hover{
  z-index: 99;
}
.yes.glyphicon{
  background-color: #3f903f;
}
.no.glyphicon{
  background-color: #ffd500;
}

.bot-right {
  position: absolute;
  bottom: 0;
  right: 1%;
  z-index: -998px;
}

img:hover {
  cursor: pointer;
}

.card-header.col-md-4 {
  background: transparent;
}

.card-header.col-md-4 > img {
  margin-left: -8px;
  padding-top: 6px;
  padding-bottom: 6px;
}

